<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="notification"
        class="product-notification"
        id="dismiss">
                                                                                                                                                                                                                                                                                             <span
                                                                                                                                                                                                                                                                                                     onclick="dismiss();"
                                                                                                                                                                                                                                                                                                     class="btn-close"
                                                                                                                                                                                                                                                                                                     aria-hidden="true"></span>
  <div
          class="media">
    <img
            class="me-2"
            src="/assets/images/mega-store/hot-deal/3.jpg"
            alt="Generic
                                                                                                                                                                                                                                                                                                   placeholder
                                                                                                                                                                                                                                                                                                   image">
    <div
            class="media-body">
      <h5
              class="mt-0
                                                                                                                                                                                                                                                                                                      mb-1">
        Latest
        trending</h5>
      Cras
      sit
      amet
      nibh
      libero,
      in
      gravida
      nulla.
    </div>
  </div>
</div>
</body>
</html>