<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/layout/admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-body" layout:fragment="content">

    Container-fluid starts
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Add Category
                            <small>Bigdeal Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Digital</li>
                        <li class="breadcrumb-item active">Add Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <form id="addBrand" method="post" enctype="multipart/form-data">
            <div class="row product-adding">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>General</h5>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="categoryId" th:value="${category.categoryId}">
                            <div class="digital-add needs-validation">
                                <div class="form-group">
                                    <label for="Name" class="col-form-label pt-0"><span>*</span> Category
                                        Name</label>
                                    <input class="form-control" id="Name" name="name" type="text"
                                           required="" th:value="${category.name}">
                                    </select> <div id="errorName" class="invalid-feedback">Category Name is required</div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5></h5>
                        </div>
                        <div class="card-body">
                            <div class="digital-add needs-validation">
                                <div style="margin-top: 10px">
                                    <label class="col-form-label pt-0"><span>*</span> Photo Category</label>
                                    <br>
                                    <img for="category" width="361px"
                                         th:src="@{'/assets/images/category/'+${category.categoryId}+'/'+${category.photo}}"
                                         alt="Placeholder">
                                    <div class="row mt-4 ml-4 text-center ">
                                        <input id="" type="file" style="width: 300px; padding: 0;" name="photo1"
                                               th:value="${category.photo}"
                                               class="form-control-user" onchange="previewFile(this);">
                                        <div class="invalid-feedback" style="margin-left: -180px;">File invalid form file feedback</div>
                                    </div>
                                </div>
                                <div style="margin-top: 10px">
                                    <label class="col-form-label pt-0"><span>*</span>Photo Small</label>
                                    <br>
                                    <img id="previewImg1" width="39px"
                                         alt="Placeholder"
                                         th:src="@{'/assets/images/category/'+${category.categoryId}+'/'+${category.photoSmall}}">
                                    <div class="row mt-4 ml-4 text-center ">
                                        <input type="file" style="width: 300px; padding: 0;" name="photoSmall1"
                                               th:value="${category.photoSmall}"
                                               class="form-control-user" onchange="previewFile1(this);">
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="product-buttons text-center">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a type="button" th:href="@{'/admin/category/delete?id='+${category.categoryId}}"   th:if="${category.status == true}" class="btn btn-light">Disable</a>
                                        <a type="button" th:href="@{'/admin/category/accept?id='+${category.categoryId}}"   th:if="${category.status == false}" class="btn btn-light">Accept</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Container-fluid Ends-->

</div>
</body>
</html>