<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/layout/admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Supplier List
                                <small>Bigdeal Admin panel</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Digital</li>
                            <li class="breadcrumb-item active">Product List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid" style="color: black">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Brand Lists</h5>
                        </div>
                        <div class="card-body">
                            <div id="basicScenario" class="product-list digital-product jsgrid"
                                 style="position: relative; height: auto; width: 100%;">
                                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                                    <table class="jsgrid-table">
                                        <tbody>

                                        <tr class="jsgrid-header-row">
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable"
                                                style="width: 30px;">Id
                                            </th>
                                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
                                                style="width: 50px;"> Username
                                            </th>
                                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">
                                                Email
                                            </th>
                                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">
                                                Fullname
                                            </th>
                                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">
                                                Address
                                            </th>
                                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">
                                                Banned
                                            </th>
                                            <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center"
                                                style="width: 50px;"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="jsgrid-grid-body">
                                    <table class="jsgrid-table">
                                        <tbody>
                                        <tr th:each="supplier : ${supplierPage.content}" class="jsgrid-row">
                                            <td class="jsgrid-cell jsgrid-align-right" style="width: 30px;"
                                                th:text="${supplier.supplierId}"></td>
                                            <td class="jsgrid-cell jsgrid-align-center" style="width: 50px;"
                                                th:text="${supplier.username}">
                                            </td>
                                            <td class="jsgrid-cell" style="width: 100px;"
                                                th:text="${supplier.email}">
                                            </td>
                                            <td class="jsgrid-cell" style="width: 100px;"
                                                th:text="${supplier.fullname}">
                                            </td>
                                            <td class="jsgrid-cell" style="width: 100px;"
                                                th:text="${supplier.address}">
                                            </td>
                                            <td class="jsgrid-cell" style="width: 100px;"
                                                th:text="${((supplier.accountBanneds.size > 0  ? supplier.accountBanneds[(supplier.accountBanneds.size)-1].dateUnbanned == null : false) ? 'Banned' : 'Normal')}">
                                            </td>
                                            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center"
                                                style="width: 50px;">
                                                <a class="jsgrid-button jsgrid-edit-button"
                                                   th:href="@{'/admin/editSupplier?id='+${supplier.supplierId}}"
                                                   type="button" title="Banned"></a>
                                                <a class="jsgrid-button jsgrid-delete-button" type="button"
                                                   th:href="@{'/admin/listSupplier/delete?id='+${supplier.supplierId}}"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="jsgrid-pager-container" style="display: none;">
                                    <div class="jsgrid-pager">Pages:
                                        <span class="jsgrid-pager-nav-button jsgrid-pager-nav-active-button">
                                            <a th:href="@{'/admin/listSupplier?page=0'}">First</a>
                                        </span>
                                        <span class="jsgrid-pager-nav-button "
                                              th:classappend="${supplierPage.number == 0 ? 'jsgrid-pager-nav-inactive-button' : 'jsgrid-pager-nav-active-button'}">
                                            <a th:href="@{'/admin/listSupplier?page='+${supplierPage.number - 1}}">Prev</a>
                                        </span>
                                        <th:block th:if="${supplierPage.totalPages>0}"
                                                  th:each="i: ${#numbers.sequence(1, supplierPage.totalPages)}">
                                            <a th:href="@{'/admin/listSupplier?page='+${i - 1 }}"><span
                                                    class="jsgrid-pager-page jsgrid-pager-current-page"
                                                    th:text="${i}">  </span> </a>
                                        </th:block>
                                        <span class="jsgrid-pager-nav-button"
                                              th:classappend="${supplierPage.number == supplierPage.totalPages - 1 ? 'jsgrid-pager-nav-inactive-button' : 'jsgrid-pager-nav-active-button'}">
                                        <a th:href="@{'/admin/listSupplier?page='+${supplierPage.number + 1}}">Next</a>
                                        </span>
                                        <span class="jsgrid-pager-nav-button jsgrid-pager-nav-active-button">
                                            <a th:href="@{'/admin/listSupplier?page='+${supplierPage.totalPages - 1}}">Last</a>
                                        </span> &nbsp;&nbsp; [[${supplierPage.number + 1}]] of [[${supplierPage.totalPages}]]
                                    </div>
                                </div>
                                <div class="jsgrid-load-shader"
                                     style="display: none; position: absolute; inset: 0px; z-index: 1000;"></div>
                                <div class="jsgrid-load-panel"
                                     style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">
                                    Please, wait...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

    </div>
</th:block>
</body>
</html>