<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/layout/user.html}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<!-- breadcrumb start -->
<th:block layout:fragment="content">
    <div class="breadcrumb-main">3
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-contain">
                        <div>
                            <h2>cart</h2>
                            <ul>
                                <li><a
                                        href="javascript:void(0)">home</a></li>
                                <li><i class="fa
                                            fa-angle-double-right"></i></li>
                                <li><a
                                        href="javascript:void(0)">cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="cart-section
                            section-big-py-space b-g-light">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table
                                    table-responsive-xs">
                        <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product
                                name
                            </th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${cartDetails != null}" th:each="carts : ${cartDetails}">
                            <form th:action="@{'/customer/cart/update'}" method="post">
                                <input type="hidden" th:value="${carts.cartDetailId}" name = "id" />
                                <td>
                                    <img th:src="@{'/assets/images/product/'+${carts.product.productId}+'/'+${carts.product.photos[0].photoName}}"
                                         class="img-fluid" width="150px"
                                         alt="product">
                                </td>
                                <td>
                                    <a href="javascript:void(0)" th:text="${carts.product.productName}"> </a>
                                </td>
                                <td>
                                    <h2 th:text="${carts.product.price}"></h2></td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input th:value="${carts.quantity}" name = "quantity">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a th:href="@{'/customer/cart/delete?id='+${carts.cartDetailId}+'&&url='+${#httpServletRequest.requestURI}}"
                                       class="icon">
                                        <i class="ti-close"></i>
                                    </a>
                                    <button type="submit" class="icon">
                                        <i class="ti-reload"></i>
                                    </button>
                                </td>
                                <td>
                                    <h2 class="td-color" th:text="${carts.product.price} * ${carts.quantity}"></h2></td>
                            </form>
                        </tr>
                        </tbody>

                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                        <tr>
                            <td>total price :</td>
                            <td>
                                <h2 th:if="${cart != null}" th:text="${cart.totalPrice}"></h2></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row cart-buttons">
                <div class="col-12"><a
                        href="javascript:void(0)"
                        class="btn btn-normal">continue
                    shopping</a> <a
                        th:href="@{'/customer/cart/order'}"
                        class="btn btn-normal ms-3">check
                    out</a></div>
            </div>
        </div>
    </section>
    <!--section end-->
</th:block>
</body>
</html>