<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/layout/user.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="p-0 b-g-light" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>Success</h1>
                    <h2>Check out Complete</h2>
                    <a th:href="@{'/DBmarket/Home'}" class="btn btn-normal">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>