<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bigdeal - Invoice Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="big-deal">
    <meta name="keywords" content="big-deal">
    <meta name="author" content="big-deal">
    <link rel="icon" href="/assets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.png" type="image/x-icon">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!--icon css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/themify.css">
    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">
    <!--Animate css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/color2.css">
</head>

<body class="light-layout">

<!-- invoice start -->
<section class="invoice-four">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="invoice-popup">
                    <div>
                        <div class="row invoice-header">
                            <div class="col-6">
                                <div class="header-left">
                                    <div class="brand-logo">
                                        <a href="../html/index.html">
                                            <img src="/assets/images/layout-2/logo/logo.png" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="invoice-to">
                                        <ul>
                                            <li>
                                                <h4>invoice to:</h4>
                                            </li>
                                            <li>
                                                <h3 th:text="${order.fullname}"></h3>
                                            </li>
                                            <li>
                                                [[${order.email}]]
                                            </li>
                                            <li>
                                                [[${order.address}]]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="header-right">
                                    <ul>
                                        <li>
                        <span>
                          <i class="fa fa-map-marker"></i>
                        </span>
                                            [[${order.supplier.fullname}]]
                                        </li>
                                        <li>
                        <span>
                          <i class="fa fa-phone"></i>
                        </span>
                                            123-456-7898
                                        </li>
                                        <li>
                        <span>
                          <i class="fa fa-envelope"></i>
                        </span>
                                            [[${order.supplier.email}]]
                                        </li>
                                        <li>
                        <span>
                          <i class="fa fa-globe"></i>
                        </span>
                                            www.bigdeal.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="header-contain">
                                    <div class="invoice-text">
                                        invoice
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row invoice-breadcrumb">
                            <div class="col-12">
                                <div class="invoice-contain">
                                    <ul>
                                        <li>
                                            <div>
                                                <h6>invoice date:</h6>
                                                <h5 th:text="${order.date}"></h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h6>invoice no:</h6>
                                                <h5 th:text="${order.orderId}"></h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h6>account no:</h6>
                                                <h5 th:text="${order.customer.customerId}"></h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h6>due amount:
                                                    <h4>
                                                        <h5 th:text="${total}">$4808.00</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive-md">
                            <table class="invoice-table">
                                <thead>
                                <tr>
                                    <th>no.</th>
                                    <th>item detail</th>
                                    <th>qty</th>
                                    <th>price</th>
                                    <th>amout</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderDetail,state : ${orderDetails}">
                                    <td th:text="${state.index}"></td>
                                    <td>
                                        <h3 th:text="${orderDetail.product.productName}">

                                        </h3>
                                    </td>
                                    <td th:text="${orderDetail.quantity}"></td>
                                    <td th:text="${orderDetail.product.price}"></td>
                                    <td th:text="${orderDetail.totalPrice}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="invoice-total">
                                <div class="row">
                                    <div class="col-md-4 offset-8">
                                        <div class="total-right">
                                            <ul>
                                                <li>
                                                    grand total
                                                    <span th:text="'$'+${total}"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row print-bar">
                                <div class="col-md-6">
                                    <div class="printbar-left">
                                        <button id="exportpdf" class="btn btn-solid btn-md">
                                            <i class="fa fa-file"></i>
                                            Export as PDF
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="printbar-right">
                                        <button id="printinvoice" class="btn btn-solid btn-md">
                                            <i class="fa fa-print"></i>
                                            Print
                                        </button>
                                        <a th:if="${order.status == 'Wait Confirm'}" th:href="@{'/supplier/listOrder/accept?id=' + ${order.orderId}}" class="btn btn-solid btn-md">
                                            <i class="fa fa-check"></i>
                                            Accept
                                        </a>
                                        <a th:if="${order.status == 'Waiting to ship'}" th:href="@{'/supplier/listOrder/cancel?id=' + ${order.orderId}}" class="btn btn-solid btn-md">
                                            <i class="fa fa-ban"></i>
                                           Customer don't get product
                                        </a>
                                        <a th:if="${order.status == 'Wait Confirm'}" th:href="@{'/supplier/listOrder/cancel?id=' + ${order.orderId}}" class="btn btn-solid btn-md">
                                            <i class="fa fa-ban"></i>
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- invoice end -->


<!-- latest jquery-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="/assets/js/bootstrap.js"></script>

<!-- Theme js-->
<script src="/assets/js/invoice.js"></script>
</body>

</html>